* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    /* Heights variables */
    --task-card-height: 80px;


    /* Color variables */
    --background-color: #000;
    --primary-text-color: #f4f4f4;
    --bg-button-color: #1a1a1a;
    --bg-task-color: #2a2a2a;
    --bg-delete-button-color: #ff4d4d;
    --bg-button-s-color: #05926c;

    /* Padding Variables */
    --nav-padding: 15px 30px;
    --section-padding: 15px 30px;
    --padding-sm: 5px;
    --padding-md: 10px;
    --padding-lg: 15px;
    --padding-xl: 20px;
    --padding-2xl: 25px;

    /* Margin Variables */
    --margin-sm: 5px;
    --margin-md: 10px;
    --margin-lg: 15px;
    --margin-xl: 20px;
    --margin-2xl: 25px;

    /* Border radius  variables*/
    --border-radius-usm: 3px;
    --border-radius-sm: 5px;
    --border-radius-md: 10px;
    --border-radius-lg: 15px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 25px;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

button:active {
    scale: 0.95;
}

nav {
    padding: var(--nav-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button {
    background-color: var(--bg-button-s-color);
    color: var(--primary-text-color);
    font-size: 16px;
    padding: var(--padding-md) var(--padding-lg);
    border-radius: var(--border-radius-md);
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.board {
    flex-grow: 1;
    padding: var(--section-padding);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--padding-2xl);
}

.board .task-column {
    background-color: var(--bg-button-color);
    padding: var(--padding-lg);
    border-radius: var(--border-radius-md);
    display: flex;
    flex-direction: column;
    gap: var(--padding-xl);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

.hover-column {
    border: 2px dashed var(--primary-text-color);
    scale: 1.02;
}

.board .task-column .heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board .task-column .tasks {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--padding-md);
}

.board .task-column .tasks .task {
    min-height: var(--task-card-height);
    background-color: var(--bg-task-color);
    padding: var(--padding-md);
    border-radius: var(--border-radius-sm);
    cursor: grab;
}

.board .task-column .tasks .task .task-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--margin-sm);
}

.board .task-column .tasks .task button {
    padding: var(--padding-sm) var(--padding-md);
    border-radius: var(--border-radius-usm);
    background-color: var(--bg-delete-button-color);
    color: var(--primary-text-color);
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.is-dragging {
    opacity: 0.5;
    border: 2px dashed #666;
}

/* Modal Styles */

.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-active {
    display: flex;
}

.modal .modal-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    z-index: 3;
}

.modal-bg i {
    position: absolute;
    right: 3%;
    top: 5%;
    scale: 1.5;
    cursor: pointer;
}

.modal .modal-input {
    position: absolute;
    z-index: 4;
    width: 20vw;
    background: var(--bg-button-color);
    padding: var(--padding-2xl) var(--padding-xl);
    border-radius: var(--border-radius-lg);
    display: flex;
    flex-direction: column;
    gap: var(--padding-lg);
}

.modal .modal-input h4 {
    font-size: 20px;
    margin-bottom: var(--margin-md);
}

.modal .modal-input input,
.modal-input textarea {
    padding: var(--padding-md) var(--padding-sm);
    border-radius: var(--border-radius-usm);
    font-size: 16px;
    outline: none;
    border: none;
}

.modal-input button {
    padding: var(--padding-md) var(--padding-xl);
    width: fit-content;
    border-radius: var(--border-radius-sm);
    outline: none;
    border: none;
    align-self: center;
    font-weight: 600;
    background-color: var(--bg-button-s-color);
    color: var(--primary-text-color);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}